.env
*.log
*.zip
.DS_Store
Thumbs.db
__MACOSX/
api
api/.env
api/error_log
api/admin/error_log
api/cache/*
!api/cache/.gitkeep
api/logs/*
!api/logs/.gitkeep
api/uploads/profile_photos/*
!api/uploads/profile_photos/.gitkeep
api/certs/*.p8
!api/certs/.gitkeep
